body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	max-width: 800px;
	padding: 50px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

a {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	.container {
		padding: 20px;
	}
	
	h1 {
		font-size: 36px;
		background-color: rgb(136, 139, 177); /* Agrega el fondo rojo */
	}
	
	p {
		font-size: 18px;
	}
}
